<div class="hero-unit">
  <h1>Complexity</h1>
  <div>
    <button ng-click="load();update(cvalue)">Load</button>
    <button ng-click="clear()">Clear</button>
  </div>
  <div>
    Mark functions with complexity more than:
    <input type="text" ng-model="cvalue" ng-change="update(cvalue)" />
  </div>
  <h2>Metrics</h2>
  <div>
    <span class="indication">{{items}}</span> functions are in danger!
  </div>
  <div ng-repeat="(filename, values) in otherData">
    <div class="filename" ng-hide="hideFile(filename, cvalue)">{{filename}}</div>
    <div ng-repeat="value in values">
      <div ng-hide="hideFunction(value.complexity, cvalue)">{{value.name}}</div>
    </div>
  </div>

  <h2>D3 Chart</h2>
  <div>
    <a href="" ng-click="updateData()">Click here to get new data</a><br>
    <sc-Chart val="data"></sc-Chart>
  </div>
</div>
